@use './styles/normalize';
@use './styles/main';

#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  // min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  background-color: #fff;
  color: #555;
}
