@use './styles/normalize';
@use './styles/main';

#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  text-align: center;
  background-color: #e9edf0;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 28px;
  color: #686868;
}
